.App {
  text-align: center;
}

.LandingPage-header {
  background-color: #1b1c1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 3px solid black;
}

.initialDiv > span:hover{
  border-bottom: 3px solid black;
  font-weight: bold;
  animation: selected;
  animation-duration: 0.2s;
  cursor: pointer;
}

.initialDiv{
  animation: fade;
  animation-duration: 1s;
}

.initialDiv > span {
  font-size: calc(6px + 2vmin);
  color: gray;
}

.showing {
  background-color: #1b1c1f;
  padding-left: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.skills {
  border: 3px solid rgb(136, 136, 136);
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: rgba(148, 155, 167, 0.315);
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  border: 2px solid rgb(136, 136, 136);
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: rgb(62, 67, 75);
  display: inline-block;
  width: 107px;
}

.contact {
  border: 2px solid rgb(136, 136, 136);
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: calc(5px + 2vmin);
  background-color: rgb(62, 67, 75);
}

.hoverElement > span {
  cursor: pointer;
}

#bottom{
  border-bottom:3px solid white;
}

#nonav{
  display: none;
}

#nav{
  background-color: #282c34;
  border-bottom: 1px solid white;
  font-size: calc(20px + 2vmin);
  padding-bottom: 10px;
  padding-left: 15px;
}

#nav > span {
  animation: loadnav;
  animation-duration: 2s;
  font-size: calc(6px + 2vmin);
  color: rgb(224, 222, 222);
}

#nav > span:hover{
  cursor: pointer;
  font-weight: bold;
}

@keyframes loadnav{
  from{opacity: 0;
  }
  to{opacity: 1;}
}

.selected {
  border-bottom: 3px solid black;
  font-weight: bold;
  animation: selected;
  animation-duration: 0.2s;
  color: white;
}

.hoverElement{
  font-size: calc(1px + 2vmin);
  color: rgb(224, 224, 213);
  animation: fade;
  animation-duration: 0.5s;
}

.hoverElement > span:hover {
  font-weight: bold;
}

.skillsCategory{
  border-bottom: 1px solid rgb(216, 230, 250, 0.979);
  color: white;
}

.underline{
  color: rgb(13, 182, 103);
}

@keyframes fade{
  from{opacity: 0;
  }
  to{opacity: 1;
  }
}

@keyframes intro{
  0% {opacity: 0;}
  50% {opacity: 0;}
  100%{opacity: 1;}
}

@keyframes selected{
  from {font-weight: normal;
  }
  to {font-weight: bold;}
}

@keyframes nav{
  from{transform: translateY(100);}
  to{transform: translateY(0);}
}

.project{
  animation: projectAnim;
  animation-duration: 2s;
  border: 3px solid rgb(216, 230, 250, 0.979);
  font-size: calc(1px + 2vmin);
  background-color: rgb(54, 56, 63);
  color: #fefeff;
  padding-left: 10px;
  padding: 5px;
}

@keyframes projectAnim{
  from{opacity: 0;
  }
  to{opacity: 1;
  }
}